__pycache__/
*.py[cod]
venv/
.venv/
**/venv/
**/.venv/
node_modules/
**/node_modules/
dist/
**/dist/
.env
**/.env
*.env
**/*.env
!**/.env.example
*.bin
*.elf
.vscode/
esp32/student_rfid_attendance/secrets.h